
<div class="row">
<div class="col-md-8">
  <img src="{{Lightbox.imageUrl}}" class="img-responsive">
  <div class="panel panel-default">
    <div class="panel-heading"> {{Lightbox.title}} </div>
      <div class="panel-body">
        {{Lightbox.description}}
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading"> Detalle </div>
      <div class="panel-body">
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        <p>asdsdasdasdasdasdasdasdasdasd</p>
        
        <a ng-if="{{Lightbox.fullDescription}}" href="/catalog-description/{{Lightbox.title}}">Ir a la descripcion detallada</a>
    </div>
  </div>
  </div>




