<div class="login">	
	<form>
		<ul>
			<li>
				<input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}" ><a href="#" class="user1"></a>
			</li>
			 <li>
				<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"><a href="#" class="lock1"></a>
			</li>
		</ul>

	</form>
	<div class="submit">
		<input type="submit" onclick="myFunction()" value="Log in" >
	</div>
</div>