/**
 * Global Warhol styles
 */

body, html {
    margin: 0px;
    padding: 0px;
}

body {
    background: #fbfbfb;
    color: #000000;
    font-family: serif, serif;
    font-size: 12px;
    line-height: 0.8;
    padding-top: 0px;
}

/*
 * Header / Navigation
 */

.header_img {
    padding: 0px;
    text-align: center;
    z-index: 99;
   
}

.header_img img {
    padding: 16px 0px;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.nav_container {
    text-align: center;
  padding-top: 17px;
}

.nav_container div {
    display: initial ; ;
    padding: 0px 70px 0px 79px ;
}

#nav_loadspin {
    display: none;
    position: fixed;
    top: 8px; left: 8px;
    z-index: 100;
}

.nav_container br {
    display: none;
}

.nav_container a {
    font-family: "Futura";
    text-decoration: none;
    font-size: 24px;
}

#sub-link {
    font-family: "Futura";
    text-decoration: none;
    font-size: 12px;
}

.project_link a {
    color: #000000;
}

.project_link a:hover {
    color: #000000;
    text-decoration: underline;
}

.project_link a:active {
    color: #999999;
}

.page_link a {
    color: #000000;
}

.page_link a:hover {
    color: #000000;
    text-decoration: underline;
}

.page_link a:active {
    color: #999999;
}

.link_link a {
    color: #999999;
    text-decoration: underline;
}

.link_link a:hover {
    color: #222222;
}

.link_link a:active {
    color: #666666;
}

.nav_active a {
    color: #000000;
    font-weight: bold;
}

.nav_active a:hover {
    color: #000000;
}

.nav_active a:active {
    color: #000000;
}

.nav_follow {
    color: #999999;
    font-family: sans-serif;
    z-index: 11;
}

.nav_follow a {
    color: #222222;
}

.nav_follow a:hover {
    color: #000000;
    text-decoration: underline;
}

.nav_follow a:active {
    color: #999999;
}

.nav_container .view_tag_info {
    color: #666666;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    margin: 10px 0 20px 0;
}

.view_tag_info a {
    color: #666666;
    text-decoration: underline;
}

.view_tag_info a:hover {
    color: #333333;
}

.view_tag_info a:active {
    color: #999999;
}

/*
 * Content
 */

#content_container {
    clear: none;
    padding: 38px 0px 0 63px;
    position: relative
       ;
    text-align: center;
    z-index: 14;
}

#maincontainer {
    display: none;
    padding: center
       ;
    margin: 0 auto 60px auto;
    max-width: 905px;
}

.bodycopy a { color: #000000; text-decoration: underline; }
.bodycopy a:hover { background: #ffff66; color: #000000; text-decoration: none; }
.bodycopy a:active { background: #000000; color: #ffffff; }

.project_content {
    margin: 1 center;
    font-size: 16px;
    text-align: center;
    max-width: 670px;
}

.project_title {
    color: #000000;
    font-size: 24px;
    margin: 0 auto;
    padding: 0 0 30px 0;
    text-align: center;
    max-width: 670px;
}

.project_header {
    margin: -30px 0 20px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}

.project_header.clone {
    margin-top: 40px;
}

.project_header div {
    display: inline-block;
}

.project_header a {
    color: #999999;
    padding: 0 8px;
    text-decoration: none;
}

.project_header a:hover {
    background: none;
    color: #000000;
    text-decoration: underline;
}

.project_header a:active {
    color: #666666;
}

.project_header .last a {
    border-right: 1px solid #dddddd;
}

.project_divider {
    display: none;
}

.project_content iframe {
    margin: 0 auto;
}

/*
 * Default typographic elements
 */

h1 {
    font-size: 22px;
    line-height: 165%;
}

h2 {
    font-size: 16px;
    line-height: 165%;
}

h3 {
    font-size: 14px;
    line-height: 150%;
}

blockquote {
    color: #666666;
    margin: 0;
}

.project_content img {
    margin: 0px 15px 15px 0px;
}

/**
 * Project content > Slideshows
 */

 .slideshow_component {
    float: left;
 }

.slideshow_nav {
    clear: both;
    color: #cccccc;
    font-family: Menlo, monaco, monospace;
    font-size: 11px;
    padding-bottom: 10px;
}

.slideshow_nav a {
    color: #999999;    
    text-decoration: none;    
}

.slideshow_nav a:hover {
    background: none !important;
    color: #999999;
    text-decoration: none;
}

.slideshow_nav a:active {
    color: #ff3300;
}

.slideshow_count {
    color: #cccccc;
    font-size: 11px;
}

.slideshow_wrapper {
    clear: both;
    float: left;
    margin: 0px 0 0 0px;
}

#slideshow_container {
opacity: 0;
}

.slideshow_container {
    overflow: hidden !important;
}

.slideshow_container img {
    margin: 0px;
}

.slideshow_wrapper a,
.slideshow_wrapper a:hover,
.slideshow_wrapper a:active {
    background: none !important;
}

ul.slideshow_thumbs {
    float: left;
    margin: 15px 0 0 0;
    padding: 0;
}

.slideshow_thumb {
    display: inline-block;
    list-style: none;
    margin: -3px 0px 0px -3px;
    padding: 0px 3px 7px 4px;
}

.slideshow_thumb a {
    background: none !important;
    border: 1px solid transparent;
    display: block;
    padding: 2px;
}

.slideshow_thumb a:hover {
    background: none !important;
    border: 1px solid #cccccc;
}

a.activeSlide {
    background: none;
    border: 1px solid #cccccc;
}

.slideshow_thumb a:active,
a.activeSlide:active {
    background: none !important;
    border: 1px solid #666;
}

.slideshow_thumb img {
    border: 0;
    display: block;
    margin: 0;
    height: 60px;
}

.slideshow_caption {
    clear: both;
    color: #666666;
    display: block;
    float: left;
    font-size: 14px;
    margin: 10px 0 5px 0;
    width: 100% !important;
}

/**
 * Fullscreen button
 */

a#fullscreen {
    background-color: #1a1a1a;
    background-image: url(/_gfx/fullscreen_open.png);
    background-repeat: no-repeat;
    background-position: 67px 3px;
    border: 1px solid #1a1a1a;
    color: #bbbbbb;
    display: block;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 11px;
    line-height: 18px;
    height: 19px;
    padding: 0 4px 0 5px;
    text-align: left;
    text-decoration: none;
    width: 74px;
}

a#fullscreen:hover {
    background-color: #fff;
    color: #000;
}

a#fullscreen:active {
    background-color: #fff;
    border: 1px solid #999;
    color: #666;
}

/*
 * Project footer
 */

.project_footer {
    color: #999999;
    clear: both;
    font-family: Menlo, monaco, monospace;
    font-size: 11px;
    padding: 30px 0px 0px 0px;
}

.comment_link a {

}

.comment_link a:hover {

}

.footer_title_type {
    color: #000000;
    font-weight: bold;
}

.project_views {
    color: #999999;
}

.project_footer .permalink a {
    color: #999999;
    font-style: italic;
}

.project_footer .permalink a:hover {
    background: #ffff00;
    color: #000000;
}

.project_footer .permalink a:active {
    background: #000000;
    color: #ffffff;
}

.tags {
    color: #999999;
}
.tags a {
    color: #000000;
    text-decoration: none;
}

.tags a:hover {
    background: #ffff00;
    text-decoration: none;
}

.tags a:active {
    background: #000000;
    color: #ffffff;
}

.project_footer .editlink a {
    color: #ccc;
}

.project_footer .editlink a:hover {
    background: #ffff00;
    color: #000000;
}

.project_footer .editlink a:active {
    background: #000000;
    color: #ffffff;
}

.project_bottom {
    clear: both;
}

.pagination {
    color: #999;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.pagination a {
    color: #000;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination a:active {

}

/*
 * Thumbnails
 */

.project_thumb {
    display: inline-block;
    margin: 0 -81px 1px 9px;
    position: center;
    text-align: left;
    vertical-align: top;
  
}

.project_thumb .hover {
    cursor: pointer;
    text-decoration: none;
;}

.project_thumb .nohover {
    text-decoration: none;
}

.project_thumb .hover .cardimgcrop {
    outline: 1px solid #ccc;
    outline-offset: 2px;
}

.project_thumb .hover .thumb_title span,
.project_thumb.active .thumb_title span {
    border-bottom: 1px solid #ccc;
}

.cardimgcrop {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    height: 188px;
    width: 280px;
    min-width: 280px;
    min-height: 188px;
}

.cardimgcrop.notitle_notag {
    margin-bottom: 22px;
}

.loader_holder {
    display: none;
    position: absolute;
    text-align: center;
    top: 8px; left: 8px;
    z-index: 3;
}

.thumb_title {
    padding-bottom: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left
        ;
    width: 284px;
    ;;
}

.thumb_title.notag {
    margin: 1 0 35px 0;
}

.thumb_title .text {
    color: #232323;
    font-family: serif;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 0px;
    white-space: nowrap;
    text-align: left;
}

.thumb_tag {
    color: #999999;
    font-family: Menlo, monaco, monospace;
    font-size: 11px;
    margin: 0 0 2px 0;
    overflow: hidden;
    text-align: center;
    width: 280px;
}

.thumb_tag.notitle {
    margin-top: 5px;
}

.thumb_tag a {
    color: #999999;
    text-align: center;
    text-decoration: none;
}

.thumb_tag a:hover {
    text-decoration: underline;
}

.excerpt {
    color: #000;
    font-family: Arial, sans-serif;
    line-height: 16px;
    font-size: 12px;
    overflow: hidden;
    margin-top: 15px;
    width: 280px;
}

/*
 * Search results
 */

#search_form {
    position: absolute;
    top: 10px; right: 44px;
    z-index: 999;
}

#search_form #search_term {
    font-size: 11px;
    width: 120px;
}

#search_form_results {
    padding-bottom: 90px;
}

.search_header {
    color: #999999;
    float: left;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 6px 0;
    width: 145px;
}

#search_term {
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #000000;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 5px;
    width: 220px;
}

#search_results {
    float: left;
}

.result {
    clear: both;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 60px;
}

.search_thumb {
    float: left;
    margin: 4px 25px 35px 0px;
}

.search_thumb img {
    width: 120px; height: auto;
}

.search_text {
    width: 500px;
    margin-left: 145px;
}

.search_title a {
    color: #000000;
    font-weight: bold;
    text-decoration: underline;    
}

.search_title a:hover {
    background: #ffff66;
    color: #000000;
    text-decoration: none;
}

.search_title a:active {
    background: #000000;
    color: #ffffff;
    text-decoration: none;
}

.search_tags {
    color: #999999;
    font-size: 11px;
}

.search_tags a {
    color: #999999;
    text-decoration: none;
}

.search_tags a:hover {
    background: none;
    color: #000000;
    text-decoration: underline;
}

.search_tags a:active {
    color: #666666;
}

/*
 * Footer
 */

.bottompad {
    clear: both;
    position: relative;
    height: 35px;
    margin: 35px 0 0 0;
}

.bottompad a {
    padding: 2px 3px 2px 3px;
}

/*
 * Video component
 */

.video_component {
    float: left;
    margin: 0 15px 15px 0;
}

/*
 * Audio component
 */

.audio_component {
    color: #777777;
    font-family: 'Droid Sans Mono', Monaco, Monospace, Arial, san-serif;
    font-size: 10px;
    height: 30px;
    line-height: 26px;
    width: 300px;
}

.audio_component div {
    height: 26px;
}

.audio_component .border {
    border: 2px solid #aaaaaa;
    opacity: 0.5;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

.audio_component .vertical_border {
    background: #aaaaaa;
    opacity: 0.50;
    
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

.audio_component .controls {
    top: 2px; left: 2px;
}

.audio_component .play_pause {
    background: url("/_gfx/playpause.png");    
}

.audio_component .spectrum .spectrum_bar {
    background: #666666;
}

.audio_component .loading {
    background: #bbbbbb;
    opacity: 0.25;
    
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
}

.audio_component .progress {
    background: #bbbbbb;
    border-right: 1px dotted #333333;
    opacity: 0.25;
    
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
}

.audio_component .volume_slide.hover {
    background: #bbbbbb;
    opacity: 0.3;

    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
}

/*
 * Other
 */

/* Admin and following icons ï¿½ only seen by members */
.toolset {
    position: fixed;
    top: 10px; right: 10px;
    z-index: 9999;
}

.pagecontainer {
    display: none;
}

/* "Running on Cargo" */
.cargo_link {
    color: #cccccc;
    font-family: sans-serif;
    font-size: 11px;
    line-height:1.5;
    position: fixed;
    right: 15px; bottom: 11px;
    text-align: right;
    z-index:99;
}

.cargo_link a {
    color: #999999;
    text-decoration: underline;
}

.cargo_link a:hover {
    color: #000000;
    text-decoration: underline;
}

.cargo_link a:active {
    background: #000000;
    color: #ffffff;
}

/* Nuevos CSS */

.center_to_design {
    padding: 57px 0px 0px 72px;

}
.laterals {
    background-color: grey;
    
}
.center {
    background-color: #FBFBFB;
    width: 1053px;
    height: auto;
    margin-left: 428px;
    margin-right: 200px;
}

/*Custom CSS*/

.pluma-nav {
    text-align: center;
    padding-top: 17px;
    width: 50%;
    margin: auto;
}


/*
 * In-browser code editing made "almost bearable" by CodeMirror: http://marijn.haverbeke.nl/codemirror
 */


/*
    Custom CSS
*/


.abm-menu {
    float: right;
}